.sidebar-container {
  position: fixed;
  min-height: 100vh;
  background: #f7f4f4;
  padding: 1rem;
}
.sidebar-wrapper {
  text-align: end;
  min-width: 50px;
}
.sidebar-wrapper img {
  width: 2rem;
  cursor: pointer;
}
.menubar {
  position: fixed;
  padding: 1rem;
}
.sidebar-container ul {
  padding: 0;
  min-width: 160px;
}
.sidebar-container ul li {
  list-style: none;
  padding-top: 10px;
  cursor: pointer;
}

/* for Mobile */
@media only screen and (max-width: 600px) {
  .sidebar-wrapper {
    text-align: start;
    min-width: inherit;
  }
}
